app/xml/xsd/top_artistsPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lfm" type="lfmType"/>
  <xs:complexType name="imageType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="size" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="artistType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:int" name="listeners"/>
      <xs:element type="xs:string" name="mbid"/>
      <xs:element type="xs:string" name="url"/>
      <xs:element type="xs:byte" name="streamable"/>
      <xs:element type="imageType" name="image" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topartistsType">
    <xs:sequence>
      <xs:element type="artistType" name="artist" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="country"/>
    <xs:attribute type="xs:byte" name="page"/>
    <xs:attribute type="xs:byte" name="perPage"/>
    <xs:attribute type="xs:short" name="totalPages"/>
    <xs:attribute type="xs:int" name="total"/>
  </xs:complexType>
  <xs:complexType name="lfmType">
    <xs:sequence>
      <xs:element type="topartistsType" name="topartists"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="status"/>
  </xs:complexType>
</xs:schema>